#facustomBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 100%;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  margin-top: 5%;
}

#facustomBtn:hover {
  cursor: pointer;
}

span.label {
  font-family: serif;
  font-weight: normal;
}

span.faicon {
  background: url('../../assets/img/icons8-facebook-48.png') transparent 5px no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 53px;
  height: 44px;
  font-size: small;
}

span.fabuttonText {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding-left: 6%;
  padding-right: 6%;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

